* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  background-image:url('../images/grid.jpg');
  background-size: contain;
}

.grid div {
  display: inline-block;
  aspect-ratio: 1;
}

.grid div.chicken {
  background-image: url('../images/chicken.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.cars {
  background-image: url('../images/car.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lives-display {
  position: absolute;
  top: 15%; 
  right: 10%;
  z-index: 10;
}
 

.control-btns {
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.title {
  font-family: 'Press Start 2P', cursive; 
  color: #dee732; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 4rem; 
  margin: 0.5em 0; 
  text-align: center; 
  letter-spacing: 0.1em; 
}


.control-btns {
  display: flex;
  justify-content: center;
  gap: 30px; 
}

.control-btns button {
  padding: 10px 15px;
  font-family: 'Press Start 2P', cursive; 
  font-size: 1rem; 
  color: white; 
  background-color: #dee732; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}